<div class="game-container" [class]="'dificultad-' + currentDifficulty()">
  


  <canvas #gameCanvas></canvas>

  <button class="pause-button" (click)="togglePause(); $event.stopPropagation()">
    <fa-icon [icon]="faPause"></fa-icon>
  </button>

  <div class="game-ui-panel">
    <div class="score-board">
      Puntuación: <span>{{ score() }}</span>
    </div>
  </div>

  <!-- TUTORIAL DIALOG -->
  @if (isTutorialMode() && tutorialDialog()) {
    <div class="tutorial-bubble-container">
      <div class="tutorial-bubble">
        <p>{{ tutorialDialog() }}</p>
        
        @if (tutorialStep() < maxTutorialStep) {
          <button class="btn-tutorial" (click)="nextTutorialStep()">Entendido</button>
        } @else {
          <div class="hint-pulse">¡Te escuchamos! Toca ahora...</div>
        }
      </div>
    </div>
  }

  <!-- Afinador removido de aquí, ahora es un componente independiente -->


  @if (gamePaused() && !isGameOver()) {
    <div class="overlay">
      <h2>Pausa</h2>
      <button class="btn-primary" (click)="togglePause()">Reanudar</button>
      <button class="btn-primary" (click)="router.navigate(['/tuner'])">Afinar Ukelele</button>
      <button class="btn-primary" (click)="restartGame()">Reiniciar Canción</button>
      <button class="btn-danger" (click)="exitGame()">Salir al Menú</button>
    </div>
  }

  @if (isGameOver()) {
    <div class="overlay results-screen">
      <h1>¡Canción Terminada! 🎸</h1>
      
      <div class="stats-card">
        <h2>Puntaje Final: <span class="text-gold">{{ score() }}</span></h2>
        <h2>Precisión: <span class="text-blue">{{ accuracy() }}%</span></h2>
        
        <div class="details-grid">
          <div class="stat-item">
            <span class="dot perfect"></span> Perfecto: {{ stats().perfect }}
          </div>
          <div class="stat-item">
            <span class="dot good"></span> Bien: {{ stats().good }}
          </div>
          <div class="stat-item">
            <span class="dot late"></span> Tarde: {{ stats().late }}
          </div>
          <div class="stat-item">
            <span class="dot miss"></span> Fallo: {{ stats().miss }}
          </div>
        </div>
      </div>

      <div class="mt-3 flex-buttons">
        <button class="btn-primary" (click)="restartGame()">Rejugar Canción</button>
        <button class="btn-danger" (click)="exitGame()">Volver al Menú</button>
      </div>
    </div>
  }

  @if (isLevelUp()) {
    <div class="overlay level-up-overlay">
      <div class="level-up-card">
        <div class="badge-icon">⭐</div>
        <h1>¡NUEVO NIVEL!</h1>
        <p>Has subido al Nivel <strong>{{ newLevel() }}</strong> en {{ instrument() | titlecase }}</p>
        <button class="btn-primary" (click)="isLevelUp.set(false)">¡Genial!</button>
      </div>
    </div>
  }
</div>